@model ProyectoInge1.Models.ModUsuarioInter
<script>
    function Cancelar() {
        window.location.replace('../../Usuarios')
    }
</script>
@{
    ViewBag.Title = "Eliminar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
<h2>Eliminar</h2>
<h4>Usuario</h4>
<div> <dt>Esta Seguro que desea borrar a:</dt></div>
<div> <dt>Nombre:</dt></div>
@Html.DisplayFor(model => model.modeloUsuario.nombre)
<div> <dt>Apellido:</dt></div>
@Html.DisplayFor(model => model.modeloUsuario.apellidos)
    <div class="form-group"style="display:none">
@Html.DisplayFor(model => model.modeloUsuario.cedula)
    </div>
    @*Telefono 1 solo lo almacena no lo muestra*@
    <div class="form-group"style="display:none">
       
           @Html.DisplayFor(model => model.modeloTelefono1.numero)
       
    </div>


@*Telefono 2 solo lo almacena no lo muestra*@
       <div class="form-group"style="display:none">
          
           @Html.DisplayFor(model => model.modeloTelefono2.numero)
          
       </div>

<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <input type="submit" value="Borrar" class="btn btn-default" />
        <a class="btn btn-default" onclick="Cancelar()">Cancelar</a>
    </div>

</div>
}