@model ProyectoInge1.Models.ModUsuarioInter
<script>
    function Cancelar() {
        window.location.replace('../../Usuarios')
    }
</script>
@{
    ViewBag.Title = "Eliminar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
<h2>Eliminar</h2>
<h4>Usuario</h4>
<div> <dt>Esta Seguro que desea borrar a</dt> @Html.DisplayFor(model => model.modeloUsuario.nombre) @Html.DisplayFor(model => model.modeloUsuario.apellidos)</div>
<div>Cedula @Html.DisplayFor(model => model.modeloUsuario.cedula)</div>
    <div> <dt>Sus Datos no podran ser recuperados</dt></div>
    <div class="form-group" style="display:none">
        @Html.LabelFor(model => model.modeloUsuario.cedula, htmlAttributes: new { @class = "control-label col-md-2" })
        @Html.EditorFor(model => model.modeloUsuario.cedula, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.modeloUsuario.cedula, "", new { @class = "text-danger" })
    </div>
    <br/>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <a class="btn btn-primary" onclick="Cancelar()">Cancelar</a>
            <input type="submit" value="Eliminar" class="btn btn-danger" />     
        </div>

    </div>
    }
