
@model ProyectoInge1.Models.ModUsuarioInter
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Usuarios</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<table class="table table-striped table-bordered table-hover">
    <thead>
        <tr><th>Nombre Completo</th><th>Rol</th><th>Proyecto</th></tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Model.listaUsuarios.Count; i++)
        {
            <tr onclick="gotoDetails()">
                <td>
                    @Html.DisplayFor(modelItem => Model.listaUsuarios.ElementAt(i).nombre)
                    @Html.DisplayFor(modelItem => Model.listaUsuarios.ElementAt(i).apellidos)
                    @Html.Raw(" ")
                </td>
                <td>
                    @Html.Raw(" ")
                </td>
                <td>
                    @for (int j = 0; j < Model.listaProyectos.Count; j++)
                    {
                        if (Model.listaUsuarios.ElementAt(i).cedula.Equals(Model.listaProyectos.ElementAt(j).Usuario.cedula))
                        {
                            @Html.DisplayFor(modelItem => Model.listaProyectos.ElementAt(j).nombre)
                            @Html.Raw(" ")
                        }
                    }
                </td>
            </tr>
        }
    </tbody>

</table>

<script type="text/javascript">
    function gotoDetails()
    {
        window.location.replace("Index");
    }
</script>
