
@model ProyectoInge1.Models.ModUsuarioInter
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Usuarios</h2>



@using (Html.BeginForm())
{
    <p>
        <div class="row">
            
            <div class="col-lg-5">
                Buscar por nombre: @Html.TextBox("SearchString")
                <input class="btn btn-success" type="submit" value="Buscar" />
            </div>
            <div class="col-lg-2 col-lg-push-6">
                <a class="btn btn-success" href="Usuarios/Create">Crear</a>
            </div>
        </div>
    </p>
}


<table id="table1"class="table table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th>
                @Html.ActionLink("Nombre Completo", "Index", new { sortOrder = ViewBag.NameSortParm })
            </th>
            <th>Rol</th>
            <th>
                @Html.ActionLink("Proyecto", "Index", new { sortOrder = ViewBag.DateSortParm })
            </th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Model.listaUsuarios.Count; i++)
        {
            <tr id='@(Model.listaUsuarios.ElementAt(i).cedula)' onclick="gotoDetails(this)">
                <td>
                    @Html.DisplayFor(modelItem => Model.listaUsuarios.ElementAt(i).nombre)
                    @Html.DisplayFor(modelItem => Model.listaUsuarios.ElementAt(i).apellidos)
                    @Html.Raw(" ")
                </td>
                <td>
                    Model.Roles.First( x => x.RoleID == role.RoleID).Name;
                                        @*
                                @foreach (var user in Model)
        {
            <tr>
                <td>
                    @foreach(var role in user.Roles){
                        Model.Roles.First(x=>x.RoleID == role.RoleID).Name;
                        role.RoleId; //valid
                        role.UserId; //valid
                    }
                </td>
            </tr>
        }
                                            @Html.Action("GetRoleToUsers", new { Type = Model.listaUsuarios.ElementAt(i).cedula} )
                            @Html.Raw(" ")-->*@
                </td>
                <td>
                    @for (int j = 0; j < Model.listaProyectos.Count; j++)
                    {
                        if (Model.listaUsuarios.ElementAt(i).cedula.Equals(Model.listaProyectos.ElementAt(j).Usuario.cedula))
                        {
                            @Html.DisplayFor(modelItem => Model.listaProyectos.ElementAt(j).nombre)
                            @Html.Raw(" ")
                        }
                    }
                </td>
            </tr>
        }
    </tbody>

</table>

<script src="../../Scripts/jquery_Usuarios.js"></script>

//ApplicationUser.ROles.first