@model ProyectoInge1.Models.ModRolesInter
@using Microsoft.AspNet.Identity
@using Microsoft.AspNet.Identity.Owin;


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Administración de Permisos</h2>
@using (Html.BeginForm())
{
    <table class="table">
        <tr>
            <th>
                Permisos
            </th>
            @for (int i = 0; i < Model.listaRoles.Count; i++)
            {
                <th id="@(Model.listaRoles.ElementAt(i).Id)">
                    @Html.DisplayFor(modelItem =>Model.listaRoles.ElementAt(i).Name)
                </th>
            }
        </tr>

        @Html.AntiForgeryToken()
        @for (int i = 0; i < Model.listaPermisos.Count; i++)
        {
            <tr>
                <th id="@(Model.listaPermisos.ElementAt(i).id)">
                    @Html.DisplayFor(modelItem =>Model.listaPermisos.ElementAt(i).descripcion)
                </th>
                @for (int j = 0; j < Model.listaRoles.Count; j++)
                {
                    <th id="@(Model.listaPermisos.ElementAt(i).id)_/_@(Model.listaRoles.ElementAt(j).Id)">

                        @Html.HiddenFor(m => m.rolPermisoId[i + Model.listaPermisos.Count * j].permiso)
                        @Html.HiddenFor(m => m.rolPermisoId[i + Model.listaPermisos.Count * j].rol)
                        @Html.CheckBoxFor(m => m.rolPermisoId[i + Model.listaPermisos.Count * j].valor)


                    </th>
                }
            </tr>
        }
    </table>
    <div>
        <input type="submit" class="btn btn-primary" value="Aceptar" />
        <a href="@Url.Action("Index", "Home")" type="button" class="btn btn-danger">Cancelar</a>
    </div>
}


