@model ProyectoInge1.Models.ReqFuncional

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Requerimientos Funcionales</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <h4>Crear</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <label class="control-label col-md-2">Nombre:</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.nombre, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.nombre, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Sprint:</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.sprint, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.sprint, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Modulo:</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.modulo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.modulo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Descripcion:</label>
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.descripcion, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.descripcion, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Observaciones:</label>
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.observaciones, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.observaciones, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Imagen:</label>
            <div class="editor-field">
                <input id="ImagePath" title="Upload a product image"
                       type="file" name="file" />
            </div>
        </div>
            <div class="form-group">
                <label class="control-label col-md-2">Fuente:</label>
                <div class="col-md-10">
                    <!--Html.EditorFor(model => model , new { htmlAttributes = new { class = "form-control" } })
                Html.ValidationMessageFor(model => model.modulo, "", new { class = "text-danger" })-->

                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2">Responsable 1:</label>
                <div class="col-md-10">
                    <!--Html.EditorFor(model => model , new { htmlAttributes = new { class = "form-control" } })
                Html.ValidationMessageFor(model => model.modulo, "", new { class = "text-danger" })-->

                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2">Responsable 2:</label>
                <div class="col-md-10">
                    <!--Html.EditorFor(model => model , new { htmlAttributes = new { class = "form-control" } })
                Html.ValidationMessageFor(model => model.modulo, "", new { class = "text-danger" })-->

                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2">Fecha Inicial:</label>
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.fechaInicial, new { @class = "form-control datepicker", placeholder = "DATE" })
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2">Fecha Final:</label>
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.fechaFinal, new { @class = "form-control datepicker2", placeholder = "DATE" })
                </div>
            </div>
        </div>

}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">
                        $(function () {
                            $('.datepicker, .datepicker2').datepicker("setDate", new Date()); //Initialise any date pickers
                        });
                        $(".datepicker").on("dp.change", function (e) {
                            $('.datepicker2').data("DatePicker").setMinDate(e.date);
                        });
                        $(".datepicker2").on("dp.change", function (e) {
                            $('.datepicker').data("DatePicker").setMaxDate(e.date);
                        });
    </script>

}
